# IntelliJ project files
/.idea
*.iml

# Eclipse
/out/
/.settings/
.classpath
.launch
.project

# for mac | windows
.DS_Store
Thumbs.db

# for maven
jframe-*/target/
cloud-server/target/

# this project
/jframe-core/src/main/resources/application-pro.yml