# IntelliJ project files
.DS_Store
.idea
*.iml
jframe/doc/*.txt
jframe-utils/target/
jframe-model/target/
jframe-core/target/
jframe-web-*/target/
cloud-server/target/
/jframe-core/src/main/resources/application-pro.yml