<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jf.database.mapper.manage.ConfigMapper">

	<select id="findAll" resultType="config">
        SELECT key, val, descr FROM s_config
        ORDER BY key ASC
    </select>

	<select id="findByKey" resultType="string" parameterType="string">
		SELECT val FROM s_config
		WHERE key = #{key}
	</select>

	<select id="findByKeys" resultType="config">
		SELECT key, val, descr FROM s_config
		WHERE key IN
		<foreach item="idx" collection="keys" open="(" separator="," close=")"> #{idx} </foreach>
	</select>

	<insert id="insertBatch" parameterType="hashmap">
		INSERT INTO s_config(key, val) VALUES
		<foreach collection="map" index="key" item="val" separator=",">
			(#{key}, #{val})
		</foreach>
	</insert>

	<update id="update" parameterType="config">
		UPDATE s_config SET val = #{val}
	    WHERE key = #{key}
	</update>

	<delete id="delete">
        DELETE FROM s_config
    </delete>

</mapper>