html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start editing from here */
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */
.txt-lt {
    text-align: left;
}

/* text align left */
.txt-center {
    text-align: center;
    /*-- W3Layouts --*/
}

/* text align center */
.float-rt {
    float: right;
}

/* float right */
.float-lt {
    float: left;
}

/* float left */
.clear {
    clear: both;
}

/* clear float */
.pos-relative {
    position: relative;
}

/* Position Relative */
.pos-absolute {
    position: absolute;
}

/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}

/* vertical align top */
nav.vertical ul li {
    display: block;
}

/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */
img {
    max-width: 100%;
}

/*--- end reset code ---*/
body {
    font-family: 'Hind', sans-serif;
}

a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

p {
    margin: 0;
    font-size: 1em;
}

.text-center {
    text-align: center;
}

h1.header-w3ls {
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0.5em 0 0.3em;
}

.agileits-content {
    text-align: center;
    float: left;
    width: 56%;
    background-size: cover;
    min-height: 690px;
}

.agileits-content h2 {
    font-family: 'Wallpoet', cursive;
    color: #000;
    font-size: 9.5em;
    margin: 1.7em 0 0 0.5em;
}

.agileits-content h2 span {
    color: #fff;
}

.w3layouts-right {
    float: left;
    width: 44%;
    background-size: cover;
    min-height: 690px;
}

.w3layouts-right h3 {
    color: #3397af;
    font-size: 2.5em;
    margin-top: 5.5em;
    text-transform: capitalize;
}

.w3layouts-right h4 {
    text-transform: capitalize;
    margin: 1.5em 0 1em;
    color: #000;
    font-size: 1.2em;
}

.w3ls-text {
    padding-left: 5em;
}

.w3ls-text a {
    color: #000;
}

.w3ls-text a:hover {
    color: #fff;
}

.clearfix {
    clear: both;
}

.agileits-content h4 {
    font-size: 2em;
    text-align: left;
    margin: 3em 0 0 10em;
    text-transform: capitalize;
    color: #3397af;
}

p.copyright {
    margin: 4em 0 0;
}

p.copyright a {
    color: #000;
}

p.copyright a:hover {
    color: #3397af;
}

/*-- background effects --*/
/* Header */
.w3layouts-bg {
    background: #3398af;
}

@media screen and (max-width: 1920px) {
    .agileits-content, .w3layouts-right {
        min-height: 1104px;
    }

    .agileits-content h2 {
        margin: 3.2em 0 0 0.5em;
    }

    .w3layouts-right h3 {
        margin-top: 9.5em;
    }
}

@media screen and (max-width: 1680px) {
    .agileits-content, .w3layouts-right {
        min-height: 954px;
    }

    .agileits-content h2 {
        margin: 2.5em 0 0 0.5em;
    }

    .w3layouts-right h3 {
        margin-top: 7.5em;
    }
}

@media screen and (max-width: 1080px) {
    .agileits-content h2 {
        margin: 2.5em 0 0 0em;
    }

    .w3ls-text {
        padding-left: 5em;
    }
}

@media screen and (max-width: 1024px) {
    .agileits-content, .w3layouts-right {
        min-height: 477px;
        width: 100%;
    }

    .w3ls-text {
        padding-left: 12em;
    }

    .agileits-content h2 {
        margin: 1em 0 0 0.5em;
    }

    .w3layouts-right h3 {
        margin-top: 1.5em;
    }
}

@media screen and (max-width: 1024px) {
    .agileits-content h2 {
        font-size: 8.5em;
        margin: 1.2em 0 0 0.5em;
    }
}

@media screen and (max-width: 800px) {
    .agileits-content, .w3layouts-right {
        min-height: 412px;
    }

    .agileits-content h2 {
        font-size: 7.5em;
        margin: 1.1em 0 0 0.5em;
    }

    .w3ls-text {
        padding-left: 10em;
    }
}

@media screen and (max-width: 667px) {
    .agileits-content h2 {
        font-size: 7em;
        margin: 1.3em 0 0 0.5em;
    }

    .w3ls-text {
        padding-left: 8em;
    }
}

@media screen and (max-width: 640px) {
    .w3ls-text {
        padding-left: 6em;
    }
}

@media screen and (max-width: 600px) {
    h1.header-w3ls {
        font-size: 2.3em;
    }

    .w3ls-text {
        padding-left: 4em;
    }
}

@media screen and (max-width: 568px) {
    .w3ls-text {
        padding-left: 3em;
    }

    .agileits-content, .w3layouts-right {
        min-height: 384px;
    }

    .w3layouts-right h4 {
        font-size: 1.1em;
    }

    .agileits-content h2 {
        font-size: 6em;
        margin: 1.4em 0 0 0.5em;
    }

    .w3layouts-right h3 {
        font-size: 2.3em;
    }
}

@media screen and (max-width: 480px) {
    .w3layouts-right h3 {
        margin-top: 1em;
    }

    p.copyright {
        margin: 2em 0 0;
    }

    .agileits-content, .w3layouts-right {
        min-height: 356px;
    }

    .agileits-content h2 {
        font-size: 5em;
        margin: 1.65em 0 0 0.5em;
    }
}

@media screen and (max-width: 414px) {
    h1.header-w3ls {
        font-size: 2.1em;
    }

    .agileits-content, .w3layouts-right {
        min-height: 360px;
    }

    .agileits-content h2 {
        font-size: 4.5em;
        margin: 1.9em 0 0 0.5em;
    }

    .w3layouts-right h3 {
        font-size: 2.2em;
        margin: 0;
    }

    .w3layouts-right h4 {
        font-size: 1.1em;
        margin: 1em 0 1em;
    }

    .w3ls-text {
        padding: 2em;
    }
}

@media screen and (max-width: 384px) {
    .w3layouts-right h3 {
        font-size: 2em;
    }

    h1.header-w3ls {
        font-size: 1.8em;
    }

    .w3layouts-right {
        min-height: 421px;
    }

    .agileits-content {
        min-height: 310px;
    }

    .w3layouts-right h4 {
        font-size: 1em;
    }

    .agileits-content h2 {
        margin: 1.6em 0 0 0.5em;
    }

    .w3ls-text {
        padding: 2em 1em 0 1.5em;
    }
}

@media screen and (max-width: 375px) {
    .w3layouts-right h3 {
        font-size: 1.8em;
    }

    .w3layouts-right h4 {
        font-size: 1em;
    }

    p {
        font-size: 0.9em;
    }

    .agileits-content h2 {
        margin: 1.9em 0 0 0.5em;
        font-size: 4em;
    }

    .w3ls-text {
        padding: 2em 0.8em 2em 1.5em;
    }
}

@media screen and (max-width: 320px) {
    h1.header-w3ls {
        font-size: 1.7em;
    }

    .w3ls-text {
        padding: 3em 0.8em 2em 1.5em;
    }

    .w3layouts-right {
        min-height: 404px;
    }

    .agileits-content {
        min-height: 330px;
    }

    .agileits-content h2 {
        margin: 2em 0 0 0.5em;
    }
}

header {
    width: 100%;
    height: 50px;
    background: #1e1b29;
    border-bottom: solid 4px red;
}

.member_wrap {

}

.header_item {
    overflow: hidden;
}

.user_menu {
    width: 100%;
    height: 170px;
    padding: 20px 0;
}

.header_item {

    width: 980px;
    margin: 0 auto;
}

.menu_head {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: solid 3px #fff;
    overflow: hidden;
}

.menu_head img {
    width: 100%;
    height: 100%;
}

.menu_info {
    width: 840px;
    margin-left: 20px;
}

.info_name {
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
}

.info_name_box {
    margin-top: 10px;
}

.level {
    font-size: 14px;
    color: #f60;
    font-weight: bold;
}

.info_desc {
    margin-top: 10px;
    font-size: 14px;
    color: #FFF;
}

.banner_menu {
    width: 980px;
    height: 50px;
    margin: 20px auto;
    background: #fff;
}

.nav_box {
    margin-top: 50px;
}

.nav_box ul {
    overflow: hidden;
}

.nav_box ul li {
    display: block;
    padding: 0 20px;
}

.nav_box ul li a {
    color: #fff;
    font-size: 16px;
}

.nav_box ul li a:hover {
    color: red;
}

.login_wrap {
    /*background: url(../images/logo_bg.jpg) no-repeat center;*/
    /*background-size: 100%;*/
}

.logo {
    width: 500px;
    height: 150px;
    margin: 0px auto;
}

.login_box {
    width: 360px;
    background: #FFFFFF;
    margin: 0px auto;
}

.login_title {
    font-size: 25px;
    text-align: center;
    color: #FF7F50;
    padding: 15px 0;
    width: 300px;
    margin: 0 auto;
    border-bottom: solid 1px #CCCCCC;
}

.form_text_ipt {
    width: 300px;
    height: 40px;
    border: solid 1px #CCCCCC;
    margin: 20px auto 0 auto;
    background: #FFFFFF;
}

.form_check_ipt {
    width: 300px;
    margin: 10px auto;
    overflow: hidden;
}

.form_check_ipt label {
    font-size: 14px;
}

.form_text_ipt input {
    width: 290px;
    height: 30px;
    margin: 5px;
    border: none;
    font-family: "微软雅黑";
    font-size: 15px;
    color: #666;
    outline: none;
}

.form_text_ipt input.valid {
    float: left;
    width: 185px;
}

.form_btn {
    width: 300px;
    height: 40px;
    margin: 10px auto;
}

.form_btn button {
    width: 100%;
    height: 100%;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    background: #FF7F50;
    cursor: pointer;
}

.form_reg_btn {
    width: 300px;
    margin: 25px auto;
    font-size: 14px;
    color: #666;
}

.form_reg_btn .forget {
    float: right;
}

.other_login {
    overflow: hidden;
    width: 300px;
    height: 80px;
    line-height: 80px;
    margin: 0px auto;
}

.other_left {
    font-size: 14px;
    color: #999;
}

.other_right a {
    margin: 5px;
    color: #636363;
}

.other_right a:hover {
    color: #AEEEEE;
}