<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jf.db2.User2Mapper">

    <sql id="baseColumn">
        u.id,
        u.nickname,
		u.phone,
		u.email,
		u.password,
		u.avatar,
		u.money,
		u.create_time,
		u.last_login_time,
		u.realname,
		u.idcard,
		u.gender,
		u.address,
		u.birthday,
		u.is_delete
    </sql>

    <resultMap type="user" id="userResultMapper">
        <id property="id" column="id" />
        <result property="nickname" column="nickname" />
        <result property="phone" column="phone" />
        <result property="email" column="email" />
        <result property="password" column="password" />
        <result property="avatar" column="avatar" />
        <result property="money" column="money" />
        <result property="createTime" column="create_time" />
        <result property="lastLoginTime" column="last_login_time" />
        <result property="realname" column="realname" />
        <result property="idcard" column="idcard" />
        <result property="gender" column="gender" />
        <result property="address" column="address" />
        <result property="birthday" column="birthday" />
        <result property="isDelete" column="is_delete" />
    </resultMap>

    <select id="findByCondition" resultMap="userResultMapper" parameterType="baseVo">
        SELECT <include refid="baseColumn"></include>
        FROM t_user u
    </select>

    <select id="findById" resultMap="userResultMapper" parameterType="long">
        SELECT <include refid="baseColumn"></include>
        FROM t_user u
        WHERE u.id = #{id}
    </select>

    <insert id="insert" parameterType="user" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO t_user (
          nickname,
          phone,
          email,
          password,
          avatar
        )
		VALUE (
		  #{nickname},
		  #{phone},
		  #{email},
		  #{password},
		  #{avatar}
		)
    </insert>

    <update id="update" parameterType="user">
        UPDATE t_user
        <set>
            <if test="nickname != null and nickname != ''">nickname = #{nickname},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            <if test="money != null">money = #{money},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="realname != null and realname != ''">realname = #{realname},</if>
            <if test="idcard != null and idcard != ''">idcard = #{idcard},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="birthday != null and birthday != ''">birthday = #{birthday},</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="delete" parameterType="long">
        UPDATE t_user SET is_delete = !is_delete
        WHERE id = #{id}
    </update>

</mapper>