<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 日志目录/PRO -->
    <property name="LOG_HOME" value="/Users/xujunfei/Downloads/logs"></property>
    <property name="LOG_HOME_PRO" value="/data/wwwlogs"></property>
    <!-- 若使用分布式，则选择flume appender -->
    <!-- 日志显示格式 -->
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %cyan(%logger{40}.%M:%L) - %msg%n"></property>
    <!-- 日志文件名称 -->
    <property name="FILE_NAME" value="${app.name:-jframe}"></property>
    <property name="ERROR_NAME" value="${app.name:-jframe}.error"></property>

    <!-- 开发环境/不写入日志文件 -->
    <springProfile name="dev">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="console"/>
        </root>
        <logger name="com.jf.mapper" level="DEBUG"></logger>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="pro">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>

        <!-- 记录INFO日志-按时间和大小分割 -->
        <appender name="syslog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_HOME_PRO}/${FILE_NAME}.log</file>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>DENY</onMatch>
                <onMismatch>ACCEPT</onMismatch>
            </filter>
            <!-- 每日生成一个文件 -->
            <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <fileNamePattern>${LOG_HOME_PRO}/${FILE_NAME}.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
                <minIndex>1</minIndex>
                <maxIndex>5</maxIndex>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <maxFileSize>5MB</maxFileSize>
            </triggeringPolicy>
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>

        <!-- 错误日志-最多记录10个 -->
        <appender name="errorlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_HOME_PRO}/${ERROR_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
                <MaxHistory>10</MaxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>

        <!-- 分布式flume日志 -->
        <appender name="flume" class="com.jf.system.flume.FlumeLogstashV1Appender">
            <flumeAgents>
                192.168.1.199:8888,
            </flumeAgents>
            <flumeProperties>
                connect-timeout=4000;
                request-timeout=8000
            </flumeProperties>
            <batchSize>2048</batchSize>
            <reportingWindow>20480</reportingWindow>
            <additionalAvroHeaders>
                myHeader=myValue
            </additionalAvroHeaders>
            <application>jframe-app</application>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${PATTERN}</pattern>
            </layout>
        </appender>

        <root level="INFO">
            <appender-ref ref="console"/>
            <appender-ref ref="syslog"/>
            <appender-ref ref="errorlog"/>
            <!--<appender-ref ref="flume"/>-->
        </root>
    </springProfile>

</configuration>