<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 测试环境日志目录 Mac|Linux -->
    <property name="LOG_HOME" value="/Users/xujunfei/Downloads/logs"></property>
    <!-- 测试环境日志目录 Windows -->
    <property name="LOG_HOME_WIN" value="C:/logs"></property>
    <!-- 生产环境日志目录 Linux -->
    <property name="LOG_HOME_PRO" value="/data/wwwlogs"></property>

    <!-- 读取Spring配置 -->
    <springProperty name="application" source="spring.application.name" defaultValue="JFRAME" />
    <!-- 日志显示格式 -->
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%thread] [%X{server}][%X{rid}] %cyan(%logger{40}.%M:%L) - %msg%n"></property>
    <!-- 日志文件名称 读取环境变量${app.name:-jframe} -->
    <property name="FILE_NAME" value="${application}"></property>
    <property name="ERROR_NAME" value="${application}.ERROR"></property>

    <!-- 开发环境 -->
    <!-- 控制台打印+写入日志文件 -->
    <springProfile name="dev">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>

        <appender name="devlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_HOME}/${FILE_NAME}.log</file>
            <!-- 按大小滚动日志，最大5M，保留最近10个文件，总大小10GB -->
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/${FILE_NAME}.%i.log</fileNamePattern>
                <maxFileSize>1MB</maxFileSize>
                <maxHistory>10</maxHistory>
                <totalSizeCap>10GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>

        <!--<appender name="elk" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>192.168.24.200:9250</destination>
            <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>-->

        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="devlog"/>
            <!--<appender-ref ref="elk"/>-->
        </root>

        <logger name="freemarker.cache" level="OFF"></logger>
        <logger name="com.jf.database.mapper" level="DEBUG"></logger>
    </springProfile>

    <!-- 生产环境 -->
    <!-- INFO+ERROR -->
    <springProfile name="pro">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>

        <!-- 记录INFO日志 -->
        <appender name="syslog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_HOME_PRO}/${FILE_NAME}.log</file>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>DENY</onMatch>
                <onMismatch>ACCEPT</onMismatch>
            </filter>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_HOME_PRO}/%d{yyyy-MM-dd}/${FILE_NAME}.%i.log</fileNamePattern>
                <maxFileSize>5MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <totalSizeCap>10GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>

        <!-- 记录Error日志 -->
        <appender name="errorlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_HOME_PRO}/${FILE_NAME}.error.log</file>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_HOME_PRO}/%d{yyyy-MM-dd}/${FILE_NAME}.%i.ERROR.log</fileNamePattern>
                <maxFileSize>2MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>

        <!-- 分布式flume日志 -->
        <!--<appender name="flume" class="com.jf.system.flume.FlumeLogstashV1Appender">
            <flumeAgents>
                192.168.1.199:8888,
            </flumeAgents>
            <flumeProperties>
                connect-timeout=4000;
                request-timeout=8000
            </flumeProperties>
            <batchSize>2048</batchSize>
            <reportingWindow>20480</reportingWindow>
            <additionalAvroHeaders>
                myHeader=myValue
            </additionalAvroHeaders>
            <application>jframe-app</application>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${PATTERN}</pattern>
            </layout>
        </appender>-->

        <!-- 分布式ELK日志 -->
        <!--<appender name="elk" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>192.168.24.200:9250</destination>
            <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>-->

        <root level="INFO">
            <appender-ref ref="console"/>
            <appender-ref ref="syslog"/>
            <appender-ref ref="errorlog"/>
        </root>
    </springProfile>

</configuration>