<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jf.mapper.MsgMapper">

	<sql id="msgCondition">
		<where>
			<if test="adminId != null">AND admin_id = #{adminId}</if>
		</where>
	</sql>

	<sql id="allColumn">
		id,
		admin_id,
		content,
		create_time
	</sql>

	<resultMap type="msg" id="msgResultMap">
		<id property="id" column="id" />
		<result property="adminId" column="admin_id" />
		<result property="content" column="content" />
		<result property="createTime" column="create_time" />
	</resultMap>

	<select id="findByCondition" resultMap="msgResultMap" parameterType="baseVo">
		SELECT <include refid="allColumn"/> 
		FROM s_msg
		<include refid="msgCondition"/>
		<include refid="COMMON.ORDER"/>
	</select>

	<select id="findByToday" resultMap="msgResultMap" parameterType="long">
		SELECT <include refid="allColumn"/> 
		FROM s_msg
		WHERE admin_id = #{adminId} AND DATEDIFF(now(),create_time) &lt;= 1
	</select>

	<insert id="insert" parameterType="msg">
		INSERT INTO s_msg (
			admin_id,
			content
		)
		VALUE (
			#{adminId},
			#{content}
		)
	</insert>

	<delete id="delete" parameterType="long">
		DELETE FROM s_msg
		WHERE id = #{id}
	</delete>

</mapper>