<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jf.mapper.RoleMapper">

	<sql id="simpleColumn">
		r.id,
		r.role_name,
		r.is_delete AS `role_delete`
	</sql>

	<sql id="baseColumn">
		r.id,
		r.role_name,
		r.role_rights,
		r.role_flag,
		r.is_delete
	</sql>

	<resultMap type="role" id="roleResultMap">
		<id property="id" column="id" />
		<result property="roleName" column="role_name" />
		<result property="roleRights" column="role_rights" />
		<result property="isDelete" column="is_delete" />
		<result property="roleFlag" column="role_flag" />
	</resultMap>

	<select id="findAll" resultMap="roleResultMap">
		SELECT <include refid="baseColumn"></include>
		FROM s_role r
	</select>

	<select id="checkRights" resultType="int">
		SELECT COUNT(1)
		FROM s_module
		WHERE FIND_IN_SET(id, (SELECT role_rights FROM s_role WHERE id = #{roleId}))
		AND mod_path = #{modPath}
	</select>

	<insert id="insert" parameterType="role">
		INSERT INTO s_role (role_name)
		VALUE (#{roleName})
	</insert>

	<update id="update" parameterType="role">
		UPDATE s_role
		<set>
			<if test="roleName != null and roleName != ''">role_name = #{roleName},</if>
			<if test="roleRights != null and roleRights != ''">role_rights = #{roleRights},</if>
		</set>
		WHERE id = #{id}
	</update>

    <update id="delete" parameterType="long">
        UPDATE s_role SET is_delete = !is_delete
        WHERE id = #{id}
    </update>

</mapper>